table{
    margin: 10px;
}

table, tr, th, td{
    border: solid thin grey;
    padding: 8px;
    border-collapse: collapse;
    text-align: center;
    border-top: none;
}

th{
    background-color: gray;
    color: white;
}